page-login {
    .loginContent{
		background-image: url('../assets/imgs/background/background.png');
		background-repeat: no-repeat;
		background-size: cover;
    }
    #img_top{
        text-align: center;
    }
	#title_top{
        text-align: center;
        padding-bottom: 30%;
	}
    #sub-logIn{
        text-align: center;
        color: #fff;
    }
    #alert-danger{
        text-align: center;
        color: #f53d3d;
    }
    ion-icon{
        padding-right: 5px;
    }
    .toolbar-title-md{
		color: #fff;
	}
	.toolbar-title-ios{
		color: #fff;
    }
    a {
        color: #FF4F00;
    }
    .item-md{
        color: #fff;
    }
    .item-ios{
        color: #fff;
    }
    .item-input .label-md{
        color: #fff;
    }
}
