page-register {
    .registerContent{
		background-color: #56477C;
    }
    #img_top{
        text-align: center;
    }
	#title_top{
        text-align: center;
	}
    #sub-logIn{
        text-align: center;
        color: #fff;
    }
    form{
        padding-top: 10%;
    }
    #alert-danger{
        text-align: center;
        color: #f53d3d;
    }
    #alert-success{
        text-align: center;
        color: #32db64;
    }
    ion-icon{
        padding-right: 5px;
    }
    .toolbar-title-md{
		color: #fff;
	}
	.toolbar-title-ios{
		color: #fff;
    }
    a {
        color: #F37C34;
    }
    .item-md{
        color: #fff;
    }
    .item-ios{
        color: #fff;
    }
    .item-input .label-md{
        color: #fff;
    }
    ion-footer{
		background-color: #F37C34;
    }
    .submit-button{
        box-shadow: inherit;
    }
}
