page-register {
    #card-content{
        border-radius: 20px;
        margin-top: 15%;
        border: 1px solid #FF4F00;
    }
	#title_top{
		text-align: center;
	}
    .item-md{
        padding-left: 0;
    }
    #form-control{
        padding-top: 10%
    }
    #sub-logIn{
        text-align: center;
    }
    #alert-danger{
        text-align: center;
        color: #f53d3d;
    }
    #alert-success{
        text-align: center;
        color: #32db64;
    }
    ion-icon{
        padding-right: 5px;
    }
    .content-md{
		background-color: #09046A;
	}
	.content-ios{
		background-color: #09046A;
    }
    .toolbar-title-md{
		color: #09046A;
	}
	.toolbar-title-ios{
		color: #09046A;
    }
    a {
        color: #FF4F00;
    }
}
