<ion-header>
  <ion-navbar color="cartwheel">
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (input)="searchUser($event)" placeholder="Search..."></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let user of filteredUsers">
        <ion-item *ngIf="user.email != currentUser">
          <ion-avatar item-left>
            <img class="center" *ngIf="user.profile_picture" [src]="user.profile_picture"/>
            <img class="center" *ngIf="!user.profile_picture" src="assets/imgs/profile/profile.png"/>
          </ion-avatar>
          <h2>{{user.username}}</h2>
          <p>{{user.name}}</p>
        </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="cartwheel-second" (click)="openChat(user)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
