<ion-header>
  <ion-navbar [hidden]="showSearchbar && platform.is('android')">
    <ion-title>
      Contacts
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleBar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar #searchbar (ionInput)="searchUser($event)" [animated]="true" [showCancelButton]="showSearchbar" placeholder="Search..." (ionCancel)="toggleBar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding #content>
    <ion-list>
      <ion-item-sliding *ngFor="let user of filteredUsers">
        <ion-item *ngIf="user.email != currentUser">
          <ion-avatar item-left>
            <img class="center" *ngIf="user.profile_picture" [src]="user.profile_picture" (click)="openModalContacts(user)"/>
            <img class="center" *ngIf="!user.profile_picture" src="assets/imgs/profile/profile.png" (click)="openModalContacts(user)"/>
          </ion-avatar>
          <h2>{{user.username}}</h2>
          <p>{{user.name}}</p>
        </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="cartwheel-second" (click)="openChat(user)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
