page-chat {
    #buttons_chat{
        padding-right: 5px;
    }
    #person-icon{
        font-size: 25px;
    }
    .youBubble {
        display: inline;
    }
    .youBubble p{
        float: left;
        padding: 12px 10px;
        background-color: #FF4F00;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid #FF4F00;
    }
    .myBubble {
        display: inline; 
    }
    .myBubble p{
        float: right;
        padding: 12px 10px;
        background-color: #09046A;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 1px solid #09046A;
    }
    .item-md{
        padding-left: 10px;
        padding-right: 0;
    }
    .item-md.item-block .item-inner{
        padding-right: 0;
    }
    ion-input{
        border-radius: 25px;
        background-color: #fff;
    }
    .toolbar-content-ios{
        margin-left: 5px;
    }
    .text-input-ios{
        margin-left: 10px;
    }
}
