<ion-header>
  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="chatWindow">
    <ion-list *ngIf="user" no-lines>
      <ion-item *ngFor="let item of allMessages | async" text-wrap>
        <ion-item *ngIf="item.sentBy != user">
          <ion-avatar item-left>
            <img class="center" *ngIf="item.image" [src]="item.image"/>
            <img class="center" *ngIf="!item.image" src="assets/imgs/profile/profile.png"/>
          </ion-avatar>
          <div class="myBubble">
            <h4>{{item.message}}</h4>
          </div>
        </ion-item>
        <ion-item *ngIf="item.sentBy === user">
          <ion-avatar item-right>
            <img class="center" *ngIf="item.image" [src]="item.image"/>
            <img class="center" *ngIf="!item.image" src="assets/imgs/profile/profile.png"/>
          </ion-avatar>
          <div class="youBubble">
            <h4>{{item.message}}</h4>
          </div>
        </ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="white">
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="addMessage()">
        <ion-icon name="send" color="primary" style="font-size: 20px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
