page-chat {
    #item-profile .label-md{
        margin: 0;
    }
    #item-profile .label-ios{
        margin: 0;
    }
    #item-profile{
        padding-left: 10px;
        height: 0;
    }
    #item-profile h2{
        color: #fff;
    }
    .item-md.item-block .item-inner{
        border-bottom: 0;
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0;
    }
    #buttons_chat{
        padding-right: 5px;
    }
    #person-icon{
        font-size: 25px;
    }
    #item-bubble .label-md{
        margin: 5px 8px 5px 0px;
    }
    #item-bubble .label-ios{
        margin: 5px 8px 5px 0px;
    }
    .youBubble {
        display: inline;
    }
    .youBubble p{
        float: left;
        padding: 12px 10px;
        background-image: url('../assets/imgs/background/background_second.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .myBubble {
        display: inline; 
    }
    .myBubble p{
        float: right;
        padding: 12px 10px;
        background-image: url('../assets/imgs/background/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .item-md{
        padding-left: 10px;
        padding-right: 0;
    }
    .item-ios{
        padding-left: 10px;
        padding-right: 0;
    }
    .item-md.item-block .item-inner{
        padding-right: 0;
    }
    .item-ios.item-block .item-inner{
        padding-right: 0;
    }
    ion-input{
        border-radius: 25px;
        background-color: #fff;
    }
    .toolbar-content-ios{
        margin-left: 5px;
    }
    .text-input-ios{
        margin-left: 10px;
    }
    .toolbar-content-md{
        margin-left: 5px;
    }
    .text-input-md{
        margin-left: 10px;
    }
    .item-option p{
        padding-right: 5px;
        font-size: 12px;
        padding-top: 8px;
        color: #d3d3d3;
    }
    .imageMessage{
        max-width: 200px;
        max-height: 200px;
    }
}
