<ion-header>
  <ion-navbar color="cartwheel">
    <ion-title *ngIf="recipient">
      {{recipient.username}}
    </ion-title>
    <ion-buttons end id="buttons_chat">
      <button ion-button id="person-icon" (click)="openSheetProfile()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div class="chatWindow">
    <ion-list *ngIf="user_id && recipient" no-lines>
      <ion-item *ngFor="let item of allMessages | async" text-wrap>
        <ion-item *ngIf="item.sentBy != user_id">
          <ion-avatar item-left>
            <img class="center" *ngIf="recipient.profile_picture" [src]="recipient.profile_picture"/>
            <img class="center" *ngIf="!recipient.profile_picture" src="assets/imgs/profile/profile.png"/>
          </ion-avatar>
          <div class="youBubble" >
            <p>{{item.message}}</p>
          </div>
        </ion-item>
        <ion-item *ngIf="item.sentBy === user_id">
          <ion-avatar item-right>
            <img class="center" *ngIf="user.profile_picture" [src]="user.profile_picture"/>
            <img class="center" *ngIf="!user.profile_picture" src="assets/imgs/profile/profile.png"/>
          </ion-avatar>
          <div class="myBubble">
            <p>{{item.message}}</p>
          </div>
        </ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer ion-fixed>
  <ion-toolbar class="no-border" color="cartwheel">
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message..."></ion-input>
    <ion-buttons end>
      <button [disabled]="!newMessage" ion-fab mini (click)="addMessage()" color="cartwheel-second">
        <ion-icon name="send" style="font-size: 20px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
