<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">{{user.username}}</ion-title>
    <ion-buttons end>
      <button ion-button id="person-icon" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="user" id="card_content">
    <ion-avatar>
        <img class="center" *ngIf="user.profile_picture" [src]="user.profile_picture" (click)="openModalProfile()"/>
        <img class="center" *ngIf="!user.profile_picture" src="assets/imgs/profile/profile.png" (click)="openModalProfile()"/>
    </ion-avatar>
    <ion-card-content>
        <button ion-button block type="button" (click)="editProfile()" color="cartwheel-second"><ion-icon name="create" style="padding-right: 5px;"></ion-icon>Edit profile</button>
      <ion-card-title id="username-title">
          {{user.name}}
      </ion-card-title>
      <p *ngIf="user.bio">
          {{user.bio}}  
      </p>
      <p *ngIf="user.work">
          <ion-icon name="briefcase" id="input-icon"> {{user.work}}</ion-icon>
      </p>
      <p *ngIf="user.city">
          <ion-icon name="locate" id="input-icon"> {{user.city}}</ion-icon>
      </p>
    </ion-card-content>
</ion-card>
</ion-content>
