page-home {
    #person-icon{
        font-size: 20px;
    }
    .searchbar-md .searchbar-input{
        background-color: #09046A;
        color: #fff;
    }
    .toolbar .searchbar-md .searchbar-md-cancel{
        font-size: 20px;
        left: 0px;
        color: #fff;
    }
    .searchbar-ios {
        background-color: #09046A;
        color: #fff;
    }
    .searchbar-md .searchbar-md-cancel{
        display: inline-flex !important;
        color: #fff;
    }
    .searchbar-md .searchbar-search-icon{
        display: none;
    }
    .item-md{
        padding-left: 0;
    }
    .item-ios{
        padding-left: 0;
    }
}
