<ion-header>
  <ion-navbar [hidden]="showSearchbar && platform.is('android')">
    <ion-title>
      <img alt="logo" height="15" src="assets/imgs/logo/logo.png">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleHome()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar (ionInput)="searchChat($event)" [animated]="true" [showCancelButton]="showSearchbar" placeholder="Search..." (ionCancel)="toggleHome()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding #contentHome>
  <ion-list>
    <ion-item-sliding *ngFor="let chat of filteredChats">
      <ion-item (click)="openChat(chat)">
        <ion-avatar *ngIf="chat.user" item-left>
          <img class="center" *ngIf="chat.user.profile_picture" [src]="chat.user.profile_picture" imageViewer/>
          <img class="center" *ngIf="!chat.user.profile_picture" src="assets/imgs/profile/profile.png" imageViewer/>
        </ion-avatar>
        <h2 *ngIf="chat.user">{{chat.user.username}}</h2>
        <p *ngIf="chat.last_message">{{ chat.last_message.message }}</p> 
        <ion-note *ngIf="chat.last_message" item-end>{{ chat.last_message.timeStamp.time }}</ion-note>
      </ion-item>
      <ion-item-options slide="left">
        <button ion-button color="danger" (click)="chatAlert(chat)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="openContacts()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>