<ion-header>
  <ion-navbar color="cartwheel">
    <ion-title>Chats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat)">
      <ion-avatar item-left>
        <img class="center" *ngIf="chat.image" [src]="chat.image"/>
        <img class="center" *ngIf="!chat.image" src="assets/imgs/profile/profile.png"/>
      </ion-avatar>
      <h2>{{chat.recipient_id}}</h2>
    </ion-item>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="openContacts()" color="cartwheel-second">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>