<ion-header>
  <ion-navbar>
    <ion-title *ngIf="users">
      {{users.username}}
    </ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content fullscreen>
  <ion-slides zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="center" *ngIf="users.profile_picture" [src]="users.profile_picture"/>
        <img class="center" *ngIf="!users.profile_picture" src="assets/imgs/profile/profile.png"/>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-footer>
    <ion-toolbar>
      <button ion-button full (click)="closeImageModal()" id="modalBtn">Close</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
