page-index {
	.indexContent{
		background-color: #56477C;
	}
	.title_content{
		padding-top: 65%;
	}
	#title_top{
		text-align: center;
	}
	h4{
		text-align: center;
		color: #fff;
	}
	p{
		text-align: center;
		color: #fff;
	}
	ion-icon{
		padding-right: 5px;
	}
	ion-footer{
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #F37C34;
	}
	.buttonIndex{
		width: 50%;
		box-shadow: inherit;
	}
}
