page-index {
	.indexContent{
		background-image: url('../assets/imgs/background/background.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.title_content{
		padding-top: 25%;
		padding-bottom: 50%;
	}
	#title_top{
		text-align: center;
	}
	h4{
		text-align: center;
		color: #fff;
	}
	p{
		text-align: center;
		color: #fff;
	}
	ion-icon{
		padding-right: 5px;
	}
	.toolbar-title-md{
		color: #09046A;
	}
	.toolbar-title-ios{
		color: #09046A;
	}
	.button-ios{
        background-image: url('../assets/imgs/background/background_second.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button-md{
        background-image: url('../assets/imgs/background/background_second.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
