page-index {
	.indexContent{
		background-image: url('../assets/imgs/background/background.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
    #card-content{
        height: 50%;
        margin-top: 50%;
		border-radius: 20px;
		border: 1px solid #FF4F00;
    }
	.title_content{
		padding-top: 25%;
	}
	#title_top{
		text-align: center;
	}
	p{
		text-align: center;
	}
	ion-icon{
		padding-right: 5px;
	}
	.toolbar-title-md{
		color: #09046A;
	}
	.toolbar-title-ios{
		color: #09046A;
	}
	.button-ios{
        background-image: url('../assets/imgs/background/background_second.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button-md{
        background-image: url('../assets/imgs/background/background_second.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
