modal-image-profile {
    .toolbar-background{
        background-color: #000;
    }
    .content-md{
        background-color: #000;
    }
    .content-ios{
        background-color: #000;
    }
    .swiper-slide img{
        width: 100%;
    }
    ion-footer{
        background-color: #000;
    }
    #modalBtn{
        background-color: transparent !important;
    }
}
