<ion-header>
    <ion-navbar>
      <ion-title *ngIf="recipient">
        {{recipient.username}}
      </ion-title>
      <ion-buttons end>
        <button ion-button id="person-icon" (click)="openActionSheetImage()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-slides zoom>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img class="youImage" *ngIf="image" [src]="image"/>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-footer>
      <ion-toolbar>
        <button ion-button full (click)="closeImageModal()" id="modalBtn">Close</button>
      </ion-toolbar>
    </ion-footer>
  </ion-content>