<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">
      {{user.username}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides [zoom]>
    <ion-slide>
      <img class="center" *ngIf="user.profile_picture" [src]="user.profile_picture"/>
      <img class="center" *ngIf="!user.profile_picture" src="assets/imgs/profile/profile.png"/>
    </ion-slide>
  </ion-slides>
  <ion-footer>
    <button ion-button full (click)="closeImageModal()" id="modalBtn">Close</button>
  </ion-footer>
</ion-content>

